		<div class="where">
			<h6>Dove trovarlo</h6>
			{# 👉 Vai a <b>{{ record.section }}</b> <br> #}
			👉 cerca la classificazione <b>{{ record.class }}</b>, <br>
			👉 trova il libro con questa etticheta:<br>

			<div class="center">
				<div class="label label-mamre">
					{{ record.label|nl2br }}
				</div>
			</div>
		</div>