		<div class="where">
			<h6>Dónde encontrarlo</h6>
			👉 En la Biblioteca <br>
			👉 busca la clasificación <b>{{ record.class }}</b><br>
			👉 busca el libro con esta etiqueta:<br>

			<div class="center">
				<div class="label label-mamre">
					{{ record.label|nl2br }}
				</div>
			</div>
		</div>