{% extends "base.twig" %}

{% block headerSearch %}{% endblock %}

{% block content %}

	<section class="main">

		<form method="get" action="{{ global.request.basepath }}/search" class="search-home">
			<label for="searchBooks">Search the Library Catalog:</label>
			<input name="searchBooks" type="text" required autofocus>
			<button type="submit" name="send">🔍 Search</button>
		</form>

		<p>It searches in the author, title and subtitle of the books.</p>

		<!--<p>or browse the classification:</p>
		
		<ul>
			<li>Philosophy</li>
			<li>Theology</li>
		</ul>
-->
	</section>

{% endblock %}