{% extends "base.twig" %}

{% block headerSearch %}{% endblock %}

{% block content %}

	<section class="main">

		<form method="get" action="{{ global.request.basepath }}/search" class="search-home">
			<label for="searchBooks">Search by title, subtitle or author:</label>
			<div class="flex-container">
				<input id="searchBooks" name="searchBooks" type="text" required autofocus>
				<button type="submit" name="send">🔍 <span>Search</span></button>
			</div>
		</form>

		<p>or browse the classification:</p>
		
		<div class="book-fields home-classification">
			<ul class="b-class-tree">
				{{ classificationTree|raw }}
			</ul>
		</div>

	</section>

{% endblock %}