/**
 * From Adobe Kuler's "sandy stone" color theme
 *
 * Dark sand:	E6E2AF
 * Light sand:	EFECCA
 * Brown:		A7A37E
 * Navy blue:	046380
 * Dark green:	002F2F
 */

html, body {
	height: 100%;
	hyphens: none;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 145%;
	margin: 0;
	color: #222;
	background: #fdfdfd;
	hyphens: auto;
}

a {
	color: #084254;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

h5 {
	margin: 0;
}

input, button {
	font-size: 1rem;
}

button {
	border-radius: .2em;
	box-shadow: 1px 1px 2px silver;
	border: 0;
	background: #eee;
	line-height: 100%;
	padding: .45em .5em;
}

hr {
	border: 0;
	border-bottom: 1px dotted gray;
	width: 90%;
}

header {
	overflow: hidden;
	margin: 0 0 2em;
	padding: 1em;
	background: #003d30;
	color: white;
	border-bottom: 3px solid #D4FF2A;
}
	header .inner {
		width: 50rem;
		max-width: 100%;
		margin: 0 auto;
	}
	header .logo {
		height: 2.5em;
		margin-right: .5em;
		vertical-align: top;
	}
	header a {
		color: white;
	}
	header h2 {
		margin: 0;
		padding: .5rem 0;
		display: inline-block;
	}

	header form {
		float: right;
		margin: .5rem 0 0 1em;
	}

	header .e-library {
		float: right;
		margin: 0 .5em 0 1.2em;
		line-height: 110%;
		font-weight: bold;
		border-left: 1px dotted rgba(255, 255, 255, .6);
		padding-left: .8em;
	}
		header .e-library small {
			display: block;
			font-weight: normal;
		}

.main {
	width: 50rem;
	max-width: 95%;
	margin: 0 auto 2em;
}


/******* HOME ********/

.search-home {
	margin: 1.5em 0 2em;
	font-size: 1.2em;
	line-height: 180%;
}
	.search-home label {
		display: block;
	}
	.search-home input[type="text"] {
		padding: .1em .2em;
		/*display: block;*/
		width: 30rem;
		max-width: 90%;
		font-size: 1.2em;
	}
	.search-home button {
		vertical-align: top;
		font-size: 1.05em;
	}

/******* SEARCH RESULTS ******/

.search-results {
	list-style: none;
	padding: 0;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}
	.search-results td {
		border-bottom: 1px solid #ccc;
		padding: .7em 0;
		vertical-align: top;
	}
		.search-results td:first-child {
			padding-right: 5%;
			width: 75%;
		}
		.search-results td p {
			margin: .5em 0 .2em;
		}
		.search-results .b-classification {
			font-size: .9em;
			font-weight: bold;
			color: #555;
			background: url(img/sidebar-tree-symbolic.svg) left .3em no-repeat;
			background-size: 16px;
			padding-left: 22px;
		}
		.search-results td em {
			background: #fffbb8;
			font-style: inherit;
		}

	.b-title, .b-subtitle {
		margin: 0;
		font-weight: normal;
		hyphens: none;
		line-height: 130%;
		margin-bottom: .2em;
	}

	.b-title {
		font-size: 1.2em;
	}
	.b-subtitle {
		font-size: .9em;
		color: #444;
	}
	.b-volume {
		color: #444;
		font-size: .85em;
		display: inline-block;
	}
	.b-author {
		font-size: .9em;
		font-style: italic;
		margin-top: 0;
		hyphens: none;
		background: url(img/author.svg) left .3em no-repeat;
		background-size: 20px;
		padding-left: 30px;
		color: #333;
	}
	


/********* BOOK ***********/

	.book-single .b-language {
		margin: .2em 0;
		font-size: .9em;
		font-weight: bold;
	}
	.book-single .b-title  {
		font-size: 1.5em;
	}
	.book-single .b-subtitle  {
		font-size: 1.1em;
		margin-bottom: .5em;
	}
	.book-single .b-author {
		margin: .5em 0 .5em;
		font-size: 1.1em;
		background-position: left .2em;
	}

.book-fields {
	display: inline-block;
	width: 32rem;
	max-width: 100%;
}

.book-fields > li {
	margin: .4em 1em .4em 0;
	display: inline-block;
	width: 14rem;
	max-width: 45%;
	vertical-align: top;
}
	.book-fields li.b-classification {
		width: 100%;
		max-width: 95%;
		margin: .8em 0 1em;
		padding-top: .8em;
		border-top: 1px dotted gray;
	}

.b-class-tree {
	font-size: .9em;
	line-height: 140%;
	color: #555;
}
	.book-fields .b-class-tree li {
		margin: .1em 0;
		background: url(img/arrow.svg) left .2em no-repeat;
		background-size: .6em auto;
	}
		.b-class-tree li.level-0 {
			background: none;
		}

	.b-class-tree li.level-1 {
		padding-left: 1em;
		background-position: .2em .3em;
	}
	.b-class-tree li.level-2 {
		padding-left: 2em;
		background-position: 1.2em .3em;
	}
	.b-class-tree li.level-3 {
		padding-left: 3em;
		background-position: 2.2em .3em;
	}
	.b-class-tree li.level-4 {
		padding-left: 4em;
		background-position: 3.2em .3em;
	}

	.book-fields .b-class-tree li.b-class-main {
		margin-top: .2em;
		font-size: 1.1em;
		color: #444;
		font-weight: bold;
	}

	.b-class {
		color: gray;
	}


.where {
	/*border-top: 1px solid silver;*/
	margin-top: 1em;
	padding-top: .5em;
	background: #eee;
	width: 15rem;
	max-width: 95%;
	display: inline-block;
	padding: .5em 1em;
	float: right;
	font-size: .9em;
	box-shadow: 1px 1px 2px silver;
	border-radius: .1em;
}
	.where h6 {
		font-style: italic;
		font-size: 1em;
		margin: 0 0 .5em;
	}

.label {
	display: inline-block;
	background: white;
	border: 1px dotted gray;
	border-radius: .2em;
	margin: 1em 0;
	padding: .1em .3em;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
	line-height: 120%;
}
	.label img {
		padding: .4em 0;
	}
	.label-theology {
		font-family: "Times New Roman", serif;
	}
	.label-philosophy {
		font-family: "Roboto", serif;
	}
		.label-philosophy small {
			font-family: "Roboto Condensed", serif;
			line-height: 60%;
		}

/******** GENERIC **********/

.inline {
	display: inline;
}

.center {
	text-align: center;
}


/******************************       SMALL      **************************/

@media only screen and (max-width: 50rem) {

	.where {
		float: none;
	}

	.search-home input[type="text"] {
		max-width: 75%;
	}
	.search-home button {
		max-width: 20%;
		font-size: .9em;
	}

}


/******************************     VERY TINY    **************************/

@media only screen and (max-width: 30rem) {

	header .e-library {
		display: none;
	}

	header form {
		float: none;
		margin-top: 1em;
		margin-left: 0;
	}
		header form button span,
		.search-home button span {
			display: none;
		}

	.search-home button {
		font-size: .8em;
	}
	
	.book-single .b-language {
		float: left;
		margin: .2em .5em 0 0;
	}
		.book-single .b-language span {
			display: none;
		}

}